<template>
  <div class="main">
    <ul class="noteItemList">
      <li
        class="noteItem"
        v-for="(item, i) in data"
        :key="i"
        @click="setContent(i)"
      >
        <div class="noteInfo">
          <div class="title">
            {{ item.title }}
          </div>
          <div class="firstLine">
            {{ turncate(item.body) }}
          </div>
        </div>
        <img
          src="@/images/btnDelete.png"
          @click.prevent="deleteNote(item.id)"
          alt=""
        />
      </li>
    </ul>
    <div class="inputs">
      <input
        name="title"
        @change="updateData()"
        v-model="title"
        type="text"
        placeholder="Заголовок"
      />
      <textarea
        name="content"
        @change="updateData()"
        v-model="content"
        cols="30"
        rows="10"
        placeholder="Текст..."
      ></textarea>
    </div>
    <div @click="newNote" class="btnAdd">
      <img src="@/images/btnAdd.png" alt="" />
    </div>
  </div>
</template>
<script>
import api from '@/lib/api'

export default {
  props: ['data'],
  data() {
    return {
      content: '',
      currentIndex: 0,
      title: '',
    }
  },
  methods: {
    newNote() {
      this.currentIndex = -1
      this.content = ''
      this.title = ''
    },
    async deleteNote(id) {
      // Delete note
      if (confirm('Вы действительно хотите удалить эту записку?')) {
        let response = await api.delete(`/notes/${id}`)
        if (response.status === 200) alert('Удаление прошло успешно')
        else alert('ERROR')
        location.href = location.href
      }
      newNote()
    },
    setContent(i) {
      this.content = this.data[i].body
      this.currentIndex = i
      this.title = this.data[i].title
    },
    async updateData() {
      // Create note
      if (this.currentIndex === -1 && this.content != '' && this.title != '') {
        this.data.unshift({
          body: this.content,
          title: this.title,
        })
        this.content = ''
        this.title = ''
      } else {
        this.data[this.currentIndex].body = this.content
        this.data[this.currentIndex].title = this.title
      }
      if (this.currentIndex === -1) {
        // Create note
        let response = await api.post(`/notes/`, {
          body: this.data[this.currentIndex].body,
          title: this.data[this.currentIndex].title,
        })
      } else {
        // Update note
        let response = await api.put(
          `/notes/${this.data[this.currentIndex].id}`,
          {
            body: this.content,
            title: this.title,
          }
        )
        if (response.status != 200) alert('Не удалось обновить')
      }
    },
    turncate(str) {
      if (str.length > 15) {
        return str.slice(0, 15) + '...'
      } else return str
    },
  },
}
</script>
<style>
body {
  width: 90%;
  background-color: #c4c4c4;
  margin: auto;
}
.main {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.noteItemList {
  background-color: #e7e3e3;
  width: 30%;
  height: 87%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2% 1% 2% 1%;
}

textarea {
  outline: none;
  -moz-appearance: none;
  border: 0;
  resize: none;
  overflow: auto;
  width: 100%;
  height: 90%;
  padding: 3% 3% 7% 3%;
  background-color: #e7e3e3;
  border-radius: 15px;
  font-size: 20px;
}
/* Left BAR */
.title {
  font-size: 17px;
}
.noteInfo {
  margin-left: 7%;
}
.firstLine {
  font-size: 15px;
  opacity: 0.6;
}

.noteItem img {
  margin-right: 7%;
}
.checked {
  background-color: #d0d0d0;
}
.noteItem:hover {
  background-color: #d6d6d6;
}

.noteItem {
  width: 101.5%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2% 2% 3%;
  cursor: pointer;
  list-style: none;
  margin: 0;
}

img:hover {
  cursor: pointer;
  opacity: 0.6;
}
.btnAdd {
  position: fixed;
  left: 85%;
  top: 85%;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 62%;
}
input[type='text'] {
  outline: none;
  -moz-appearance: none;
  border: 0;
  resize: none;
  overflow: auto;
  width: 100%;
  height: 5vh;
  padding: 1% 3% 1% 3%;
  background-color: #e7e3e3;
  border-radius: 15px;
  font-size: 20px;
  margin-bottom: 3%;
}
</style>
