<template>
  <div id="app">
    <NoteLists :data="notes" />
  </div>
</template>
<script>
import api from '@/lib/api'
import NoteLists from '@/components/NoteList'

export default {
  components: {
    NoteLists,
  },
  data() {
    return {
      notes: [],
    }
  },
  async created() {
    // GET note
    let response = await api.get('/notesFull')

    if (response.status === 200) {
      this.notes = response.data
    }
  },
}
</script>

<style></style>
